.main {
  margin-top: 60px; 
  position: relative;
}

.main .title {
  margin-bottom: 4px;
}

.image-container {
  position: relative;
}

.image-container .text-container {
  bottom: 32px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.image-container .text-container h2,
.image-container .text-container p
 {
  text-shadow: 2px 2px black;
}

.layer {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: 0;
}

.prev-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}

.arrow {
  height: 50px;
  width: 50px;
  border: none;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  gap: 8px;
  cursor: pointer;
}

.slick-dots li {
 width: 8px;
 height: 8px;
 background: gray;
 border-radius: 50%;
}

.slick-dots li.slick-active {
  background: var(--cor-titulo-destaque);
}

.slick-dots li button {
  display: none;
}

@media (max-width: 800px) {
  .main {
    margin-top: 0px;
    height: 100%;
  }
  .main .title {
    display: none;
  }
  .image-container .text-container h2 {
    font-size: 1.25rem;
  }
  .image-container .text-container p {
    font-size: .8rem;
  }
  .arrow {
    display: none;
  }

  .image-container img {
    min-height: 300px;
    object-fit: cover;
  }
}
